body {
    background: #dfe4ea;
    box-sizing: border-box;
    margin: 0px;
}

*, :after, :before {
    box-sizing: inherit;
}

.mt--50 {
    margin-top: 50px !important;
}

/* home page */
.navbar {
    background: red;
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.navbar2 {
    background: goldenrod;
    height: 80px;
    position: fixed;
    top: -80px;
    width: 100%;
    transition: top 0.1s;
    z-index: 2;
}

.container {
    margin: 0px 66.8px;
    padding: 0px 44.8px;
}

/* slick */
.section {
    margin: 64px 0px 0px;
}

.page-body {
    margin: 120px 0px 0px;
}

.footer {
    border-top: 1px grey solid;
    margin-bottom: 0px;
}

a:focus {
    outline: none;
}

.custom-img {
    margin: 10px;
    border-radius: 5px;
    width: 247px!important;
    height: 309px!important;
}


/* hien thi tung item */
.img-item {
    border-radius: 3px;
}

.type-room-div {
    color: rgb(118, 118, 118);
}

.rating-star {
    color: black;
    margin-left: 18%;
}

.information-item {
    margin-top: 195px;
}

.discount-text {
    position:absolute;
    background-color: orangered;
    border-radius: 25px;
    padding: 1px 5px;
    top: 15px;
    left: 15px;
}







/* su dung lai */
.mt--5 {
    margin-top: 5px;
    width: 247px !important;
    height: 309px !important;
}

.dic {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    z-index: 100;
    color: white;
}

.img-text h2 {
    margin: 12px 0px 4px;
}